---
import Layout from "../layouts/Layout.astro";
const {
    link,
    img,
    tekst,
    opgaveNavn,
    opgaveInfo1,
    opgaveInfo2,
    opgaveInfo3,
    opgaveInfo4,
    opgaveInfo5,
} = Astro.props;
---

<Layout>
    <article class="portfolie">
        <a href={link} target="_blank">
            <img src={img} alt={tekst} />
            <h3>{opgaveNavn}</h3>
        </a>
        <h4>Fokuspunkter:</h4>
        <ul>
            <li>{opgaveInfo1}</li>
            <li>{opgaveInfo2}</li>
            <li>{opgaveInfo3}</li>
            <li>{opgaveInfo4}</li>
            <li>{opgaveInfo5}</li>
        </ul>
    </article>

    <style>
        .portfolie {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: auto;
            max-width: 300px;
            padding: 1rem;
            border-top-style: solid;
            border-bottom-style: solid;
            border-color: #ca6c38;
            justify-content: space-between;
        }
        .portfolie h3 {
            text-align: center;
            max-height: 5px;
            font-weight: 200;
            color: #804a2d;
        }
        .portfolie h4 {
            color: #804a2d;
            text-decoration: none;
            text-align: left;
        }
        .portfolie li,
        ul {
            font-size: small;
            text-align: center;
            color: #804a2d;
            font-size: medium;
            text-decoration: none;
            gap: 1rem;
            word-break: break-word; /* bryd lange ord */
            white-space: normal;
        }
        li:empty {
            display: none;
        }
        .portfolie img {
            max-width: auto;
            height: auto;
            object-fit: cover;
            border-radius: 10%;
        }
        a {
            color: #ca6c38;
        }
        .portfolie:hover {
            transform: scale(1.05);
        }
    </style>
</Layout>
